header{
  min-height: 100vh;
  position: relative;
  .rs{
    position: absolute;
    right: 0px;
    top: 50px;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

header {
  background: url(../images/image-costa-rica-11\ copie.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-height: 50vh;
  
}

.header-logo {
  .logo {
    margin: auto;
    opacity: 85%;
    width: 60%;
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .main-nav-liens{
    display: flex;
  }
}

.main-1 .container{
  display: flex;
  justify-content: space-between;
  .block{
    flex-basis: 32%;
  }
}

.burger{
  display: none;
}

.rs {

  display: flex;
  justify-content: space-between;
  margin:25px 25px;
  a {
    display: block;
    margin: 0 1rem;
  }
}

.bon-plan {
  display: block;
  width: 100%;
  h2 {
    margin: 2.85rem auto;
    text-align: center;
    text-transform: uppercase;
    padding: 0.2rem;
    width: 70%;
  }
  .bon-plan-contenu {
    background: rgba(255, 255, 255, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 14%, rgba(199, 178, 153, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(14%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(199, 178, 153, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 14%, rgba(199, 178, 153, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 14%, rgba(199, 178, 153, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 14%, rgba(199, 178, 153, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 14%, rgba(199, 178, 153, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7b299', GradientType=1);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    a {
      background: rgba(210, 214, 210, 1);
      background: -moz-linear-gradient(top, rgba(210, 214, 210, 1) 0%, rgba(210, 214, 210, 1) 9%, rgba(13, 84, 4, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210, 214, 210, 1)), color-stop(9%, rgba(210, 214, 210, 1)), color-stop(100%, rgba(13, 84, 4, 1)));
      background: -webkit-linear-gradient(top, rgba(210, 214, 210, 1) 0%, rgba(210, 214, 210, 1) 9%, rgba(13, 84, 4, 1) 100%);
      background: -o-linear-gradient(top, rgba(210, 214, 210, 1) 0%, rgba(210, 214, 210, 1) 9%, rgba(13, 84, 4, 1) 100%);
      background: -ms-linear-gradient(top, rgba(210, 214, 210, 1) 0%, rgba(210, 214, 210, 1) 9%, rgba(13, 84, 4, 1) 100%);
      background: linear-gradient(to bottom, rgba(210, 214, 210, 1) 0%, rgba(210, 214, 210, 1) 9%, rgba(13, 84, 4, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d6d2', endColorstr='#0d5404', GradientType=0);
      border-radius: 15px;
      color: $blanc;
      margin: 2.85rem auto;
      text-align: center;
      text-transform: uppercase;
      padding: 0.2rem;
      width: 70%;
    }
    .bon-plan-contenu_bloc {
      display: flex;
      flex-flow: column wrap;
      padding: 0 0.2rem;
      width: 25%;
      h3 {
        background-color: $vert-fonce;
        border-radius: 15px;
        color: $blanc;
        text-align: center;
      }
      p {
        background: $blanc;
        border-radius: 0 0 15px 15px;
        color: $vert-fonce;
        font-size: 15px;
        margin: 0;
        padding: 0.4rem;
        text-align: center;
      }
    }
  }
}


.footer {
  margin: 0 auto;
  width: 40%;
  .logo-footer {
      margin: 15px auto;
      width: 40%;
      img {
          width: 80%;
      }
  }
  .footer-rs {
      width: 60%;
      .footer-rs-2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          a {
              margin: 0.5rem 0 0;
              padding: 0;
              width: 33%;
              img {
                  width: 70%;
                  margin: auto;
              }
          }
          .footer-rs-ml {
              background: $beige;
              border-radius: 15px;
              color: $blanc;
              font-size: 10px;
              line-height: 30px;
              text-align: center;
              padding: 5px 0;
              width: 66%;
          }
      }
  }
}
