// Layout
$max-width:  1200px;
$bp-tablet:  768px;
$bp-desktop: 992px;
$marge:      15px;

// Typos
$font-default: 'Noto Sans', sans-serif;
$font-title: 'Noto sans', sans-serif;
$font-size-base: 87.5%;

// Colors

$beige: #C7B299;
$gris-fonce: #919191;
$gris-clair: #D2D6D2;
$blanc: #ffffff;
$vert-fonce: #0E5404;

